<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <app-error-msg></app-error-msg>
            <div class="text-right">
                <button type="button" class="btn btn-success" routerLink="/spoilers">New Spoiler</button>
            </div>
            <div class="text-center" *ngIf="!haveSpoiler()">
                <p>No spoilers registered.</p>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngFor="let spoilers of spoiler">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header class.badge-danger">
                    <p class="class badge-danger" id="title">{{ spoilers.title }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ spoilers.author }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ spoilers.description }}</p>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/spoilers/{{spoilers.id}}">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteSpoiler(spoilers.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>